.page {
  margin: 0 auto;
  width: 8.5in;
  height: 11in;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  page-break-after: always;
}


.mtg-card {
  height: 3.5in;
  width: 2.5in;
  border: solid black 2px;
  border-radius: 3mm;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
}

.mtg-logo {
  width: 80%;
  display: block;
  opacity: .7;
}

.mtg-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid black 2px;
  border-radius: 8px;
  padding: 1px 4px;
  margin: 2px;
  font-family: "Beleren Bold";
}

.card-name {
  font-size: 10pt;
  margin: 1px;
}

.mana-cost {
  display: flex;
  align-items: center;
}

.mana-symbol {
  width: 15px;
}

.card-image {
  border: solid black 2px;
  border-radius: 5px;
  padding: 0 1em;
  margin: 0 auto;
  width: 80%;
  height: 1.25in;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-type {
  font-size: 7.5pt;
  text-align: left;
  border: solid black 2px;
  border-radius: 0 0 8px 8px;
  border-radius: 8px;
  margin: 2px;
  padding: 0 5px;
  font-family: "Beleren Bold";
  display: flex;
  align-items: end;
  justify-content: space-between;
}

.set-icon {
  width: 20px;
  text-align: right;
  float: right;
  padding: .25em;
}

p {
  margin: 0;
  text-align: left;
}

.card-text {
  font-size: 8.5pt;
  padding: 0 1em;
  flex-direction: column;
  justify-content: space-evenly;
  flex: 1;
}

.card-body {
  white-space: pre-wrap;
  font-family: 'msplantin';
}

.card-flavor {
  font-style: italic;
  justify-self: flex-end;
  font-family: 'msplantini';
}

.set-info {
  border-top: solid black 1px;
  margin: 1px;
  font-size: 7pt;
  text-align: center;
  padding: 1px;
}

.card-stats {
  border: solid black 1px;
  width: fit-content;
  border-radius: 8px;
  padding: 1px 4px;
  position: absolute;
  bottom: 5px;
  right: 5px;
  line-height: 1;
  background-color: white;
}

@media print {
  .page {
    grid-template-columns: 2.5in 2.5in 2.5in;
    grid-template-rows: 3.5in 3.5in 3.5in;
  }
}
